<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">year</th>
        <th scope="col">series</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="cars: ${cars}">
        <td th:text="${cars.getName}"/>
        <td th:text="${cars.getYear}"/>
        <td th:text="${cars.getSeries}"/>
      </tr>
      </tbody>
    </table>
  </th:block>
</div>
</body>
</html>